html {
    scroll-behavior: smooth;
}


.navbar {
  padding: 10px;
  padding-top: 30px;
  display: flex;
  gap: 50px;   
  font-family: Arial, Helvetica, sans-serif;
  justify-content: left;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 1000;    
}

.navbar a {
  color: rgb(98, 84, 84);
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  text-decoration: underline;
}

.img {    
    margin-left: auto;
    padding-right: 60px;
}

.navbar img {
  width: 30px;
}

.container1{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    gap: 80px;
    margin-top: 70px;
    padding-top: 70px;
    padding-bottom: 40px;
       background-image: url('images/14546368_rm183-kul-21.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;  
}

.container1 .text1{
    font-family: Arial, Helvetica, sans-serif;
    
}

.container1 h1{
    max-width: 500px;
    font-size: 70px;
    text-align: justify;
    margin: 0 0 10px 0;
}

.container1 p{
    max-width: 500px;
    text-align: justify;
    line-height: 1.6;
    color: #555;
}
.container1 img{
    width: 400px;
    border-radius: 10px;
}

.container2{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding-right: 100px;
       background-image: url('images/14546368_rm183-kul-21.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;  
}
.container2 .h1{
    font-size: 32px;
    color: #01161e;
    margin-bottom: 15px;

}
.container2 p{
    font-size: 18px;
    line-height: 1.7;
    color: #333;
    text-align: justify; 
    max-width: 900px; 
}


 a {
    text-decoration: none;
    color: #124559;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;
}

a:hover {
    color: #007db7;
    transform: scale(1.05);
}


