html {
    scroll-behavior: smooth;
}

.navbar {
  padding: 10px;
  padding-top: 30px;
  display: flex;
  gap: 50px;   
  font-family: Arial, Helvetica, sans-serif;
  justify-content: left;
  background-color: white;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 1000;    
}

.navbar a {
  color: rgb(98, 84, 84);
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  text-decoration: underline;
}

.img{    
    margin-left: auto;
    padding-right: 60px;
}

.navbar img {
  width: 30px;
}
.container1{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 70px;
    padding-top: 70px;
    padding-bottom: 150px;
    background-image: url('images/14546368_rm183-kul-21.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;  
}

.container1 .text1{
    font-family: Arial, Helvetica, sans-serif;
    
}

.container1 h1{
    max-width: 500px;
    font-size: 70px;
    text-align: justify;
    margin: 0 0 10px 0;
}

.container1 p{
    max-width: 500px;
    text-align: justify;
    line-height: 1.6;
    color: #555;
}
.container1 img{
    width: 600px;
    border-radius: 10px;
}



#button2{
    color: white;
    border-radius: 10px;
    height: 50px;
    background-color: #456882;
    border: none;
    transition: 0.3s;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

#button2:hover{
    background-color: #4e636c;
    cursor: pointer;
    transform: scale(1.05);
}

.container2 {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    gap: 80px;

    padding-top: 70px;
    padding-bottom: 40px;
    background-image: url('images/14546368_rm183-kul-21.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;  
}
.container2 img{
     width: 600px;
    border-radius: 10px;
}
.container2 .text3 {
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}
.container2 .text3 h1{
    max-width: 450px;
    font-size: 40px;
    text-align: justify;
    margin: 0 0 10px 0;
}
.container2 .text3 p{
    max-width: 500px;
    text-align: justify;
    margin-bottom: 90px;
}

.container3 {
    display: flex;             
    gap: 40px;                
     background-image: url('images/14546368_rm183-kul-21.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;  
}

.boxes {
    display: flex;
    flex-direction: column;
    gap: 20px;                   
    width: 1000px;               
}

#box {
    width: 100%;                 
    background-color: #eff6e0;
    border-radius: 15px; 
    padding: 40px 50px; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.15); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
}

#box:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
}

#box h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: black;
}

#box p {
    font-size: 18px;
    text-align: justify;
    line-height: 1.7;
}


